<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration form</title>
</head>
<body>

<div class="container">
<!--  Работа с формой  -->
    <div class="registration-form-wrapper">

        <div class="left-side-with-data-input-wrapper">

            <div class="container-registration-data">

                <h2>Let’s get you started</h2>

                <form [formGroup]="registrationForm">

                    <div class="form-group">
                        <label class="title">Full name</label>
                        <input class="form-control" formControlName="fullName" type="text" placeholder="Blagov Nikita">

                        <div *ngIf="fullName && fullName?.invalid && fullName.touched">

                            <div class="error-message" *ngIf="fullName.errors?.['required']">
                                Full name is required
                            </div>

                            <div class="error-message"  *ngIf="fullName.errors?.['minlength']">
                                Full name must be at least 8 characters long
                            </div>

                            <div class="error-message"  *ngIf="fullName.errors?.['pattern']">
                                The name must contain only letters
                            </div>

                            <div class="error-message" *ngIf="fullName.errors?.['fullName']">
                                Must consist of a surname and a given name
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="title">Email address</label>
                        <input class="form-control" formControlName="emailAddress" type="text" placeholder="yourname@email.com">

                        <div *ngIf="email && email?.invalid && email.touched">

                            <div class="error-message" *ngIf="email.errors?.['required']">
                                Email is required
                            </div>

                            <div class="error-message"  *ngIf="email.errors?.['minlength']">
                                Email must be at least 5 characters long
                            </div>

                            <div class="error-message"  *ngIf="email.errors?.['pattern']">
                                Incorrect email
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="title">Phone number</label>
                        <input class="form-control" formControlName="phoneNumber" type="text" placeholder="+79266036098">

                        <div *ngIf="phone && phone?.invalid && phone.touched">

                            <div class="error-message" *ngIf="phone.errors?.['required']">
                                Phone number is required
                            </div>

                            <div class="error-message"  *ngIf="phone.errors?.['minlength']">
                                Phone number must be at least 10 characters long
                            </div>

                            <div class="error-message"  *ngIf="phone.errors?.['maxlength']">
                                 Phone number must be no more than 15 digits
                            </div>

                            <div class="error-message"  *ngIf="phone.errors?.['pattern']">
                                Incorrect Phone number
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="title">Create password</label>
                        <input class="form-control" formControlName="createPassword"  type="password">

                        <div *ngIf="createPassword && createPassword?.invalid && createPassword.touched">

                            <div class="error-message" *ngIf="createPassword.errors?.['required']">
                                Password is required
                            </div>

                            <div class="error-message"  *ngIf="createPassword.errors?.['minlength']">
                                Password must be at least 8 characters long
                            </div>

                            <div class="error-message" *ngIf="createPassword.errors?.['password']">
                                Password must contain a special character
                            </div>

                        </div>

                    </div>

                    <div class="rules-password">
                        <p>Password must contain a minimum of 8 characters</p>
                        <p>Password must contain at least one symbol "e.g. &#64;, !"</p>
                    </div>

                    <div class="form-group">
                        <label class="title">Confirm password</label>
                        <input class="form-control" formControlName="confirmPassword" type="password">

                        <div class="error-message" *ngIf="registrationForm.errors?.['passwordMismatch'] && confirmPassword?.touched">
                            Passwords do not match
                        </div>


                    </div>


                    <button class="btn-sing-up" [class.btn-disabled]="registrationForm.invalid && registrationForm.touched" [disabled]="registrationForm.invalid && registrationForm.touched" type="submit">
                        Sing Up
                    </button>

                </form>

            </div>

        </div>

        <div class="right-side-with-quote">
            <span class="quote-text">
                “Creativity is intelligence having fun”
            </span>
            <span class="author-quote-text">
               - Albert Einstein
            </span>
        </div>

    </div>
</div>

</body>
</html>